
body {
	width: 800px;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

#wrapper {
	margin-top: 1em;
}

#yt-player{
	width: 640px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#log {
	font-size: 0.75em;
	height: 120px;
	overflow: auto;
	clear: both;
	width: 95%;
	padding: 10px 2.5%;
	background-color: #efefef;
	color: #555;
}

#log p {
	margin: 0;
	padding: 0.05em 0;
}
